body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.diapo {
    background-image: url("/Content/img/background/wallpaper_1.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 450px;
}

.nav-config {
    background-color: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    font-size: 1em;
}

    .nav-config a,i {
        color: lightgrey;
        text-decoration: none;
        
    }
    .nav-config i {
        line-height: 23px;
        cursor: pointer;
    }

.navbar-text-position {
    margin-right: 20%;
    padding: 0 10px 0 100px;
}
